# CSE110_Assignment_6

# Task_1

In [1]:
def even_checker(n):
    if n%2==0:
        print('Even!!')
    else:
        print('Odd!!')
even_checker(5)

Odd!!

# Task-2

In [1]:
def fibonacci(num):
    x,y=0,1
    while x<=num:
        print(x, end=' ')
        a = x
        x = y
        y = a + y
fibonacci(10)

0 1 1 2 3 5 8

# Task-3

In [ ]:
def foo_moo(n):
    if n%2==0 and n%2==0:
        print("FooMoo")
    elif n%2==0:
        print("Foo")
    elif n%3==0:
        print("Moo")
    else:
        print("Boo")
foo_moo(6)

# Task- 4

In [ ]:
def function_name(txt):
    a = 0
    b = 0
    for i in txt:
        if ord(i)>=65 and ord(i)<=90:
            a+=1
        elif ord(i)>=97 and ord(i)<=122:
            b+=1
    print('No. of Uppercase characters :',a)
    print('No. of Lowercase Characters:',b)
function_name('HaRRy PotteR')

# Task-5

In [ ]:
def calculate_tax(age,salary,current_job):
    if current_job.lower()=='president':
        print(0)
    elif age<18:
        print(0)
    elif salary<10000:
        print(0)
    elif salary>10000 and salary<20000:
        print('your tax:',salary*(5/100))
    elif salary>20000:
        print('your tax:',salary*(10/100))
a=int(input())
b=int(input())
c=input()
calculate_tax(a,b,c)

# Task-6

In [1]:
days=int(input())
def date_function(num):
    year=days//365
    month=(days%365)//30
    day=(days%365)%30
    print(year,'years,',month,'months,',day,'days')
date_function(days)

2250
6 years, 2 months, 0 days

# Task7

In [ ]:
def show_palindrome(num):
    k=''
    for x in range(1, num + 1):
        k+=str(x)
    for y in range(num - 1, 0, -1):
        k+=str(y)
    return k
print(show_palindrome(5))

# Task8

In [2]:
def showPalindromicTriangle(number):
    for row in range(1,num+1):
        for space in range(0,num-row):
            print(' ',end=' ')
        for i in range(1,row+1):
            print(i ,end=' ')
        for a in range(row-1,0,-1):
            print(a, end=' ')
        print()
num=int(input())
showPalindromicTriangle(num)

3
    1
  1 2 1
1 2 3 2 1

# Task-9

In [1]:
import math
def area_circumference_generator(r):
    area=math.pi*(r**2)
    circumference=2*math.pi*r
    print('Area of the circle is :',area,'and circumference is',circumference)
area_circumference_generator(2)

Area of the circle is : 12.566370614359172 and circumference is 12.566370614359172

# Task-10

In [2]:
def make_square(tuple):
    a,b=tuple
    d={}
    for x in range(a,b+1):
        d[x]=x**2
    return d
print(make_square((5,9)))

{5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

# Task-11

In [3]:
def rem_duplicate(big_tuple):
    l1=list(big_tuple)
    empty_list=[]
    for x in l1:
        if x not in empty_list:
            empty_list.append(x)
    expected_tuple=tuple(empty_list)
    return expected_tuple
print(rem_duplicate((1,1,1,2,3,4,5,6,6,6,6,4,0,0,0)))
print(rem_duplicate(("Hi", 1, 2, 3, 3, "Hi",'a', 'a', [1,2])))

(1, 2, 3, 4, 5, 6, 0)
('Hi', 1, 2, 3, 'a', [1, 2])

# Task-12

In [ ]:
def list_game(listx):
    new_list=[]
    c=0
    for x in listx:
        if new_list.count(x)<2:
            new_list.append(x)
        else:
            c+=1
    print("Removed:",c)
    return new_list
print(list_game([1, 2, 3, 3, 3, 3, 4, 5, 8, 8]))
print(list_game([10, 10, 15, 15, 20]))

# Task-13

In [ ]:
def calculation_demo(symbol,num1,num2):
    if symbol=='+':
        return num1+num2
    elif symbol=='-':
        return num1-num2
    elif symbol=='/':
        return num1/num2
    elif symbol=='*':
        return num1*num2
sign=input()
n1=int(input())
n2=int(input())
print(calculation_demo(sign,n1,n2))

# Task-14

In [ ]:
def setence_modifier(sentence,position):
    stringx=sentence[0]
    remove=''
    for x in range(1,len(sentence)):
        if x % position==0:

            remove+=sentence[x]
        else:
            stringx += sentence[x]
    stringy=stringx+remove
    return stringy
text=input()
num=int(input())
print(setence_modifier(text,num))

# Task-15

In [ ]:
def grocery_app(order_items,location):
    sum=0
    price = {"Rice": 105, "Potato": 20, "Chicken": 250, "Beef": 510, "Oil": 85}
    for x in order_items:
        if x in price.keys():
            sum+=price[x]
    if location=='Dhanmondi':
        sum+=30
    elif location=='':
        sum+=70
    else:
        sum+=70
    return sum
listx=[]
input_food=input().split(',')
for i in input_food:
    listx.append(i)
print(grocery_app(listx,"Mohakhali"))

# UNGRADED

# task-28

In [ ]:
def cal_bonus(name,yearly_earning,total_goal,bonus_percent_per_goal):
    b=total_goal*((bonus_percent_per_goal/100)*yearly_earning)
    s=0
    if total_goal>30:
        b+=10000
        s+=b
    elif total_goal>20 and total_goal<30:
        b+=5000
        s+=b
    else:
        s+=b

    print(name,"earned a bonus of",s,'taka for',total_goal,'goals')
def perfect_cal_bonus(*arg):
    for x in range(0,len(arg),4):
        name=arg[x]
        yearly_earning=arg[x+1]
        total_goal=arg[x+2]
        bonus_percent_per_goal=arg[x+3]

        cal_bonus(name, yearly_earning, total_goal, bonus_percent_per_goal)
perfect_cal_bonus("Neymar", 1200000, 35, 5, 'Jamal', 700000, 19, 8, 'Luis', 80000, 25, 10)